.test {
  background-color: rgb(255,102,0);
  background-color: transparent\9;
  background-color: rgba(255,102,0,0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFF6600, endColorstr=#4cFF6600);
  zoom: 1;
}
.test:nth-child(n) {
  filter: none;
}
